
<%- include('partials/head') %>    
<%- include('partials/menu') %>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading"><%=title %></h4>
    <img src="img/slide.png" class="d-block w-100" alt="...">
    <hr>
    <p class="mb-0">Código de ejemplo</p>
</div>
<%- include('partials/footer') %>